# Игнор сборок и IDE
.vscode/
.vs/
*.user
*.suo
*.log

# Build results
[Bb]in/
[Oo]bj/
x64/
Release/
Debug/
*.pdb
*.exe
*.dll
*.lib
*.ilk

/lib
/DirectX

# Игнор временных и кэшей
*.cache
*.tmp

# Но разрешим исходники и проект
!*.sln
!*.vcxproj
!*.filters
!*.cpp
!*.h
